.btn button {
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    background: transparent;
  }
  .btn {
    padding: 6px 16px;
    border-radius: 3px;
    outline: 2px solid tomato;
    outline-offset: 3px;
    background: transparent;
    color: #ffffff;
    display: flex;
    grid-gap: 1.5em;
    font-size: 14px;
  }
  .link-button {
    display: flex;
    grid-gap: 2.5em;
    text-decoration: none;
    list-style: none;
  }
  .btn:hover {
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    opacity: 0.8;
    background-color: transparent;
    border: 2px solid tomato;
    text-decoration: none;
    color: #cccccc;
  }

@media screen and (max-width: 960px) {
  .btn button {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
}
